:root{
    --main-color: #2b597e;
    --main-alt-color: #78a7cd;
    --btn-color: #bfd3e8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'cairo',sans-serif;
    text-transform: uppercase;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
/* start styling header */
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header h1{
    margin-left: -15px;
}
header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-right: -20px;
}
ul a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    transition: all 0.5s;
}
ul a:hover{
    color: var(--btn-color);
    font-size: 23px;
}
ul a:focus{
    background-color: var(--main-alt-color);
    border-radius: 10px;
    color: var(--main-color);
    padding: 5px;
}
/* start home section */
.home-section{
    background-color: var(--main-alt-color);
    height: 100vh;
    width: 100%;
}
.home-section img{
    width: 200px;
    margin: 13% 43%;
    border-radius: 50%;
}
.home-section h1{
    color: #fff;
    font-size: 70px;
    margin: -140px 34.5%;
}
.home-section hr, .portfolio hr{
    background-color: white;
    height: 5px;
    border-radius: 5px;
    width: 30%;
    margin: 180px auto;
}
.home-section i{
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 81%;
    left: 49%;
}
.home-section p{
    color: white;
    font-size: 24px;
    position: absolute;
    top: 89%;
    left: 43%;
    text-transform: capitalize;
}
/* start style portfolio  */
.portfolio hr, .about hr{
    background-color: var(--main-color);
    margin-top: -40px;
}
.portfolio h1{
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
    margin:  60px auto;
    font-size: 45px;
}
.portfolio i, .about i{
    position: relative;
    top: -205px;
    left: 49%;
    color: var(--main-color);
    font-size: 2rem
}
.portfolio .container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 170px;
    left: 70px;
}
.portfolio .container img{
    width: 28%;
    border-radius: 20px;
    height: 350px;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: all 0.5s;
}
.portfolio .container img:hover{
    transform: scale(1.1);
    opacity: 0.5;
}
/* start style about section */
.about h1, .about i{
    color: #fff;
}
.about hr{
    background-color: white
}
.about{
    background-color: var(--main-alt-color);
    height: 70vh;
    width: 100%;
}
.about p{
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    margin-top: -150px;
}
.about a{
    text-decoration: none;
    color: var(--btn-color);
    border: 3px solid var(--btn-color);
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 44.5%;
    position: relative;
    top: 40px;
    transition: all 0.5s;
}
.about a:hover{
    background-color: #fff;
    border: 3px solid #fff;
    color: #000;
    padding: 15px;
    font-size: 20px;
}
/* start contact section */
.contact {
    height: 100%;
}
.contact i{
    color: var(--main-color);
}
.contact hr{
    background-color: var(--main-color);
    height: 5px;
    border-radius: 5px;
    width: 30%;
    margin: 180px auto;
}
.contact i{
    position: relative;
    top: -205px;
    left: 49%;
    font-size: 2rem
}
.contact h1{
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    position: relative;
    top: 160px;
}
input{
    display: block;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 65%;
    height: 50px;
    position: relative;
    top: -170px;
    left: 20%;
}
input:focus{
    outline: none;
}
input:placeholder-shown{
    font-size: 25px;
    transition: all 0.5s;
}
input:placeholder-shown:focus{
    font-size: 18px;
    padding-bottom: 5px;
}
.contact a{
    text-decoration: none;
    color: #fff;
    background-color: var(--main-alt-color);
    border-radius: 5px;
    position: relative;
    left: 47%;
    bottom: 110px;
    padding: 10px;
    width: 150px;
}
/* start footer */
footer{
    background-color: var(--main-color);
    height: 80px;
    width: 100%;
}
footer h1{
    font-size: 25px;
    text-align: center;
    padding-top: 25px;
    color: #fff;
    text-transform: capitalize;
}